/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* Section */

section{
    height: 100vh;
}

.bg-red{
    background-color: #f00;
}

.bg-green{
    background-color: #008000;
}

.bg-yellow{
    background-color: #ff0;
}