/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Generics */

body{
    font-family: 'Rubik Mono One', sans-serif;
    overflow-y: hidden;
}

h2{
    font-size: 50px;
}

/* Utils */

.bg-red{
    background-color: #f00;
}

.bg-green{
    background-color: #008000;
}

.bg-yellow{
    background-color: #ff0;
}

.c-yellow{
    color: #ff0;
}

.c-green{
    color: #008000;
}

/* Navigation */

nav > ul{
    min-width: 200px;
    list-style-type: none;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
    top: 60px;
    right: 30px;
}

ul a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    border-radius: 50%;
    background-color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

/* Section */

section{
    height: 100vh;
    position: relative;
}

/* Article */

article{
    width: 900px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}